#navbar{
    background: linear-gradient(208.8deg, #15015e33 80%, rgba(17, 4, 158, 0.148) 94.74%);
    font-weight: bold;
}

#title{
    color: white;
    justify-content: center;
}

#search-button{
    border-radius: 10%;
    background-color: #0487e433;
    color: white;
}

#search-history{
    background-color: gray;
}

#day0Data, #day1Data, #day2Data, #day3Data, #day4Data {
    color: white;
    background-color: darkblue;
}

.cardFiveDay {
    display: inline;

}

#five-day-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

